BasedOnStyle: LLVM

# General layout
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
UseTab: Never
InsertNewlineAtEOF: true

# Braces
BreakBeforeBraces: Allman

# Classes
IndentAccessModifiers: false
AccessModifierOffset: -4

# Pointers / references
DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Pointer

# Short constructs
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLambdasOnASingleLine: None

# Function calls / declarations
BinPackArguments: false
BinPackParameters: false

# Constructors
PackConstructorInitializers: Never

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^[<"](config|http)/'
    Priority: 0
    CaseSensitive: true

# Namespaces
NamespaceIndentation: None
FixNamespaceComments: true