BasedOnStyle: LLVM

# General layout
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
UseTab: Never
InsertNewlineAtEOF: true

# Braces
BreakBeforeBraces: Allman

# Classes
IndentAccessModifiers: false
AccessModifierOffset: -4

# Pointers / references
DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Pointer

# Short constructs
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

# Function calls / declarations
BinPackArguments: false
BinPackParameters: false

# Constructors
PackConstructorInitializers: Never

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
MainIncludeChar: AngleBracket
IncludeIsMainRegex: '$'

IncludeCategories:
  - Regex: '^[<"]http_server/'
    Priority: 1
    CaseSensitive: true

  - Regex: '^"'
    Priority: 2

  - Regex: '^<'
    Priority: 3

# Namespaces
NamespaceIndentation: None
FixNamespaceComments: true
